<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Community • KitabMuka</title>
    <link rel="stylesheet" href="/styles/addCommunities.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="card">
        <h1>Create <span>Community</span></h1>
        <form action="/kitabmuka/communities/add" method="post">
          <input
            type="text"
            name="communityName"
            placeholder="Community Name"
            required
          />
          <textarea name="description" placeholder="Description"></textarea>
          <button class="btn primary">Create</button>
        </form>
      </div>
    </div>
  </body>
</html>
