<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register • KitabMuka</title>
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <main class="wrapper">
        <section class="card">
        <h1>Create your <span>KitabMuka</span> account</h1>

        <form action="/kitabmuka/register" method="post" class="form">
            <input 
            type="text" 
            name="username" 
            placeholder="Username"
            required
            >

            <input 
            type="email" 
            name="email" 
            placeholder="Email"
            required
            >

            <input 
            type="password" 
            name="password" 
            placeholder="Password"
            required
            >

            <button type="submit" class="btn primary">Register</button>
        </form>

        <p class="switch">
            Already have an account?
            <a href="/kitabmuka/login">Login</a>
        </p>
        </section>
    </main>
</body>
</html>
